#customer-login {
  background-image: url("../assets/images/login/login_bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .login-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      background-color: #7363579d;
      padding: 50px;
      color: #fff;
    }
  }
}
